github:
  token: ${GITHUB_TOKEN}

server:
  port: 8080

spring:
  application:
    name: githubsearcher
  datasource:
    url: jdbc:postgresql://localhost:5432/githubdb
    username: githubuser
    password: {GITHUB_PWD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
